@font-face {
	font-family: "8-bit HUD";
	src: url('../images/font/8-bit-hud.ttf');
}

body {
    background-color:black;
    color: white;
    font-family:  -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    border-radius: 10px;
    cursor: pointer;
    margin:20px;
}

.niveau{
    border: solid black 1px;
    margin: 10px;
    border-radius: 10px;
    width: 120px;
}

#block{
    height: 100%;
    width: 100%;
}

#first{
    width: 40%;
    float: left;
    background-color: grey;
    border: black solid 1px;
    border-radius: 10px;
    margin-top: 50px;
    text-align:center;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 1fr;
}

#imageuser{
    width: 50%;
    margin: 5% auto 5% auto;
    border-radius: 50%;
}

#pseudo{
    text-align: center;
    font-size:40px;
    text-decoration-line:none;
    margin-bottom: 5%;
    font-style: italic;
}

#pseudo input{
    border: none;
    outline: none;
    color: black;
    font-size: 27px;
}

#pseudo input,label{
    border-bottom: solid black 1px ;
}

.score{
    font-family: "8-bit HUD", serif;
}
.rank_image{
    margin-left: auto;
    display: none;
    margin-right: auto;
}

#rank{
    float: right;
    background-color: grey;
    border: black solid 1px;
    width: 55%;
    margin-top: 50px;
    text-align:center;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 1fr;
    border-radius: 10px;
}

#leveleditor{
    text-align:center;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 1fr;
    margin-top: 70px;
    float: right;
    clear: right;
    width: 55%;
    border: black solid 1px;
    border-radius: 10px;
}

#leveleditor a{
    text-align: center;
}

#imageuser:hover{
    content: "modifier";
    transform: 1s;
    color: white;
}

.Popup{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border: black 2px solid;
    border-radius:10px;
    padding: 10px;   
}

@media screen and (max-width: 475px) {
    #pseudo {
        font-size: 20px;
        width: 300px;
    }
}

@media screen and (max-width: 920px) {
    #profilimage{
        top: 10%;
        right: 10%;
        width: 300px;
        height: 300px;
        border-radius: 150px;
    }
}


